.container{
  display: flex;
  height: 100%;
  background-color: white;
}

.leftColumn{
  width: 30%;
  min-width: 400px;
  height: 100%;
}

.rightColumn{
  width: 80%;
  height: 100%;
  padding: 24px;
  overflow-y: scroll;
}